.tabla{width:100vw;}
.tabla tbody,
.tabla tfoot,
.tabla thead{background:#daff;width:95%;margin:1px 2.5%;padding:8px 17px;}
.tabla thead{background:#ffad;text-transform:uppercase;letter-spacing:3px;}
.tabla tbody th,
.tabla tfoot th,
.tabla thead th{padding:17px;}
#template-carrito tr{height:auto;}
#template-carrito tr td .btn{height:auto;}
.btn-danger{width:66px;height:auto;background:#040105;color:#fff;}
.btn-info{width:66px;height:auto;background:#ffad;color:#415;}
#template-carrito tr{height:auto;}